ENV=dev
DATA=./data
LOG=./logs

# API
API_CONTAINER_NAME=adsapi
API_IMAGE_NAME=adsapi
API_PORT=9004

# NGINX
NGINX_CONTAINER_NAME=adsapi-nginx
NGINX_IMAGE_NAME=adsapi-nginx
NGINX_PORT=8084

# POSTGRES
POSTGRES_CONTAINER_NAME=adsapi-postgres
POSTGRES_IMAGE_NAME=adsapi-postgres
POSTGRES_PORT=5436
POSTGRES_USER=adsapi
POSTGRES_PASSWORD=4?LvppXuKcihFvfM4xRgPq2TV}VWnZ9Y
POSTGRES_DB=adsapi
POSTGRES_SSL_MODE=disable
POSTGRES_TIMEZONE=GMT+8

# REDIS
REDIS_CONTAINER_NAME=adsapi-redis
REDIS_IMAGE_NAME=adsapi-redis
REDIS_PORT=6383
REDIS_PASSWORD=adsapi
